{% extends 'base.html' %}
{%block title%}Chainese Foods List {%endblock title%}
{%block body%}
<div style="background-color:#FFFAF0">
<div class="container-fluid">
    <img src="/static/img/9.jpg" class="d-block w-100 h-100 " alt="...">
 </div> 
  <div class="container text-center"> 
 <h1>Chinese Food List</h1>
 </div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Fried Rice</h5>
    <p class="card-text">The Chinese prepare it by steaming rice with vegetables or meat, while in India we get a spicy.</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>


<div class="card"style="background-color:#FFFAF0">
  <div class="card-body">
    <h5 class="card-title">Manchurian</h5>
    <p class="card-text">The dish was invented by Nelson Wang, an Indian chef of Chinese descent. Wang accepts that he only added soy sauce instead of garam masala to prepare this favourite dish of Indians.</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">chilli chicken</h5>
    <p class="card-text">It is made with chicken coated in a paste of hot chili, garlic, ginger and spices, then sautéed with onions and green chilies.</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card"style="background-color:#FFFAF0">
  <div class="card-body">
    <h5 class="card-title">Chowmein</h5>
    <p class="card-text">In China, chowmein is referred to as chāu-mèing and is basically a portion of boiled noodles topped with greens, scrambled eggs and soya sauce.</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Manchow Soup</h5>
    <p class="card-text">In the Indian version, Manchow Soup is a soy-based spicy soup flavoured with garlic and ginger, cooked with vegetables or meat, spruced up with scallions, carrots, celery and garnished with fried noodles. 
</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
</div>

{%endblock body%}