{% extends 'base.html' %}
{%block title%}Indian Foods List {%endblock title%}
{%block body%}
<div class="container-fluid"style="background-color:#FFFAF0">
    <img src="/static/img/7.jpg" class="d-block w-100 h-100 " alt="...">
 </div> 
  <div class="container text-center"> 
 <h1>Indian Foods List</h1>
 </div>

<div class="card"style="background-color:#FFFAF0">
  <div class="card-body">
    <h5 class="card-title">Chhole Bhature</h5>
    <p class="card-text">From street stalls to proper restaurants and homes, who among us doesn't care for a few plates of this combination made in heaven?</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bharwa Bhindi</h5>
    <p class="card-text">Okra is a vegetable we all love, and this stuffed version is the king of all bhindi dishes in this country</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card"style="background-color:#FFFAF0">
  <div class="card-body">
    <h5 class="card-title">Pindi Chana</h5>
    <p class="card-text">Rawalpindi might be in Pakistan now, but we're glad we can get a bite of this spicy Punjabi dish any day</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Chhole Bhature</h5>
    <p class="card-text">From street stalls to proper restaurants and homes, who among us doesn't care for a few plates of this combination made in heaven?</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card"style="background-color:#FFFAF0">
  <div class="card-body">
    <h5 class="card-title">Chhole Bhature</h5>
    <p class="card-text">From street stalls to proper restaurants and homes, who among us doesn't care for a few plates of this combination made in heaven?</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Chhole Bhature</h5>
    <p class="card-text">From street stalls to proper restaurants and homes, who among us doesn't care for a few plates of this combination made in heaven?</p>
    <a href="#" class="card-link">Add to cart</a>
    <a href="#" class="card-link">Buy now</a>
  </div>
</div>

{%endblock body%}